//
// Trash
// --------------------------------------------------


.trash {
    [data-column="document"] {
        width: 100%;
    }
    [data-column="date"] {
        width: 200px;
    }
    [data-column="location"] {
        width: 200px;
    }


    //.popover-container {
    //    position: relative;
    //
    //    .popover {
    //        max-width: 100%;
    //
    //        .popover-content {
    //            .breadcrumb {
    //                margin-bottom: 0;
    //            }
    //        }
    //    }
    //}
}
