.file-browser-upload {
  display: flex;
  flex-direction: column;

  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 5;

  max-height: 100%;
  min-width: 40%;
  max-width: 80%;

  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-right: .5rem;

  .card {
    overflow-y: hidden;

    .card-body {
      flex-shrink: 0;
    }

    .list-group {
      flex-shrink: 1;

      overflow-y: auto;
    }
  }
}


.file-browser-upload-shadowbox {
  position: absolute;
  top: -.25rem;
  bottom: -.25rem;
  left: -.25rem;
  right: -.25rem;
  z-index: -1;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 60px;

  opacity: 0;

  .transition-property(@transition-property: "background-color, opacity");
  .transition-duration(@transition-duration: 200ms);

  p {
    text-align: center;

    &:first-child {
      font-size: 36px;
    }

    &:last-child {
      margin-bottom: 0;

      font-size: 100px;
    }
  }
}

&.file-browser-drop-zone.in .file-browser-upload-shadowbox {
  z-index: 4;

  opacity: 1;
}
